

<div id="@ViewData["id"]" class="loading-spinner @ViewData["extraClass"]" style="display:none;">
    <img src="@Url.Content("~/Content/images/loading.gif")" style="display:block;margin:0 auto;" />
</div>

