@{
    ViewBag.Title = "Pershing";
}

<div class="container-fluid" style="margin-top:20px;">
    @{ Html.RenderAction("Menu", "Pershing"); }
    <div id="contenido" class="col-md-12" style="background: #fff;margin-top: 20px; ">
        
    </div>
</div>






