<div class="container-fluid" style="margin-top:20px;">
    @{ Html.RenderAction("Menu", "Pershing"); }
    <div id="contenido" class="col-md-12" style="background: #fff;margin-top: 20px; ">
        <h4 class="titulos-view">Informes Normativos</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-pershing" aria-expanded="true" style="font-size: 12px;">Libro Operaciones</a>
                    <a class="nav-link" id="v-pills-otro-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-pershing_informe" aria-expanded="true" style="font-size: 12px;">Registro Recepciones</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-pershing">
                        <div class="panel-fechas row" style="margin-bottom: 20px;border-radius: 5px;">
                            <div class="col-md-5" style="border-right: 4px solid #ffffff;text-align: justify;font-size: 13px;color: #8e8d8d;padding: 13px;font-weight: 500;">
                                En esta seccion usted podra Generar el libro de Operaciones ingresando el rango de fechas el cual usted quiere visualizar.
                            </div>
                            @using (Html.BeginForm("ExportarLibroOperacionesByFecha", "Archivo", FormMethod.Post, new { id = "procesar-libroOper" }))
                            {
                                <div class="col-md-7" style="padding-top: 10px;">
                                    <div style="width: 501px;margin: 0 auto;">
                                        <div class="form-group">
                                            <label for="fechaDesde" style="font-size: 14px;color: #828282;font-weight: 500;">Desde : </label>
                                            <input type="date" class="form-control" id="desde" name="desde" style="font-size: 13px;">
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaHasta" style="font-size: 14px;color: #828282;font-weight: 500;">Hasta : </label>
                                            <input type="date" class="form-control" id="hasta" name="hasta" style="font-size: 13px;">
                                        </div>
                                        <a id="dowloadFile" target="_blank" href="#" style="display:none;font-size: 13px;text-decoration: none;color: #969696">Descargar Informe</a>
                                        <button type="submit" class="btn btn-primary" style="float:right;">Exportar</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-otros">
                        <div class="panel-fechas row" style="margin-bottom: 20px;border-radius: 5px;">
                            <div class="col-md-5" style="border-right: 4px solid #ffffff;text-align: justify;font-size: 13px;color: #8e8d8d;padding: 13px;font-weight: 500;">
                                En esta seccion usted podra Generar los registros de recepciones ingresando el rango de fechas el cual usted quiere visualizar.
                            </div>
                            @using (Html.BeginForm("ExportarRegistroRecepcionesByFecha", "Archivo", FormMethod.Post, new { id = "procesar-RegRecep" }))
                            {
                                <div class="col-md-7" style="padding-top: 10px;">
                                    <div style="width: 501px;margin: 0 auto;">
                                        <div class="form-group">
                                            <label for="fechaDesde" style="font-size: 14px;color: #828282;font-weight: 500;">Desde : </label>
                                            <input type="date" class="form-control" max="@{DateTime.Now.Date.ToString("yyyy-MM-dd");}" id="desde" name="desde" style="font-size: 13px;">
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaHasta" style="font-size: 14px;color: #828282;font-weight: 500;">Hasta : </label>
                                            <input type="date" class="form-control" max="@{DateTime.Now.Date.ToString("yyyy-MM-dd");}" id="hasta" name="hasta" style="font-size: 13px;">
                                        </div>
                                        <a id="dowloadFile-regrep" target="_blank" href="#" style="display:none;font-size: 13px;text-decoration: none;color: #969696">Descargar Informe</a>
                                        <button type="submit" class="btn btn-primary" style="float:right;">Exportar</button>
                                    </div>
                                </div>
    }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-container">

        </div>
    </div>
</div>






